extends layout

block content
    h1.title hoge を fuga に
    div(style="font-family: 'Hind Siliguri';")
        .koma.mb-16.mx-0 <span class="buf">buf</span><img src="/images/left.png" class="left-arrow"><span class="hoge">hoge</span>

        .koma-func.mb-16.mx-0 <span class="func">func</span><span style="font-size: 60px; font-weight: bolder;">(<span class="hoge-sm">hoge</span>)</span>

        .koma.koma-sm.mb-24.mx-0 <span class="huga">h<span style="color: #c99;">u</span>g<span style="color: #e99;">a</span></span> <img src="/images/hammer.png" class="hammer">

        .koma.mb-8.mx-0 <span class="fuga">fuga</span>